<!-- operator_page.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Страница туроператора</title>
</head>
<body>
    <h1>Добро пожаловать на страницу туроператора!</h1>
    <p><a href="{% url 'create_tour' %}">Создать новый тур</a></p>

    <h1>Бронирования для туроператора {{ request.user.username }}</h1>

    <h2>Заявки на туры:</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Имя пользователя</th>
                <th>Номер телефона</th>
                <th>Электронная почта</th>
                <th>Тур</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr>
                <td>{{ booking.user_name }}</td>
                <td>{{ booking.phone_number }}</td>
                <td>{{ booking.email }}</td>
                <td>{{ booking.tour.name }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Нет заявок на ваши туры.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Display average rating -->
    <h2>Средняя оценка тура "{{ bookings.tour.name }}": {{ bookings.tour.average_rating }} звезд</h2>
</body>
</html>
